@font-face {
  font-family: myfont;
  src: url(af.ttf);
}

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  /*background-color: #f3f3f3;*/
  background: linear-gradient(
    to right,
    rgba(150, 200, 150, 0.8),
    rgba(150, 170, 200, 0.8)
  );
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}

/* From Uiverse.io by Madflows */
.subtotal_button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, rgb(70, 150, 90), rgb(80, 120, 160));
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* height: 8px; */
  justify-content: center;
  align-items: center;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(to right, rgb(120, 180, 130), rgb(130, 140, 180));
  transition: all 0.475s;
}
