/* Root Variables */
:root {
  --primary-color: #232f3e; /* Dark background */
  --secondary-color: #ffa41b; /* Accent color */
  --text-color: #ffffff; /* Light text */
  --input-bg: #f3f4f6; /* Light background for input fields */
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Center the sign-up form */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
  padding: 20px;
}

.signup-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Max width for large screens */
  text-align: center;
}

.logo-signup {
  margin-top: 10px;
  width: 150px;
  margin-bottom: 20px;
  object-fit: contain;
}

.signup-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: var(--input-bg);
}

input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

p {
  margin-top: 15px;
  font-size: 0.9rem;
}

p a {
  color: var(--primary-color);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .signup-form {
    width: 100%;
    padding: 15px;
  }

  .signup-title {
    font-size: 1.5rem;
  }

  .form-group input {
    font-size: 0.9rem;
    padding: 8px;
  }

  button {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .signup-form {
    max-width: 100%;
    padding: 10px;
  }

  .signup-title {
    font-size: 1.2rem;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
  }
}
